body { transition: all .4s; }
.container { margin-top: 5rem; }

h2 .divider {
    border: 1px solid #9493a0;
    width: 15%;
    margin-top: 0.4rem;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 5rem;
    font-size: 0.9rem;
}

body[class=bg-dark] { color: #e5dddd!important; }
body[class=bg-dark] h2 { color: #fff!important; }